body {

    height: auto;
    width: auto;
    background-color: #f0fff0;
    background-size: cover;
    }
/* */
@media (min-width: 1024px) and (max-width: 1680px) {
    html { font-size: 16px;}
}
@media (max-width: 750px) {
    font-size: ;
}
@media (max-width: 480px) {
    html {
        font-size: 32px;
    }
}
h1, h2, h3, nav {
    text-align: center;
    font-size: 40px ;
    font-family: nice honey, 'Trebuchet MS', sans-serif;
}
p {
    font-size: 25px;
    font-family: nice honey, 'Trebuchet MS', sans-serif;
}
/*h1 h2 h3 and nav are grouped together for allignment in center*/
/*Place the div in their own folders to customize along the days*/

/*div1 and div2 are separated for customizing differences*/
.div1 .div2 { 
    flex-direction: row;
}

.div1 {
    font-size: 25px;
    font-family: nice honey, 'Trebuchet MS', sans-serif;
    margin: 10%;
    margin-left: 30%;
    margin-top: 5rem;
    width: 50%;
    height: auto;
    border: 10px solid #e6c5b8;
    
    }

    .div2 {
    font-size: 25px;
    font-family: nice honey, 'Trebuchet MS', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 10px solid #725a51;
    }

.center, .img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 10px solid;
    }

